<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Welcome to Photo Drop</h1>

    <nav>
      <ul>
        <button><a href="/">Home</a></li></button>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="username"> 
      <input type="text" name="password" placeholder="password">  
      <button type="submit">submit</button>
    </form>

  </main>

</body>
</html>